/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #b3b3b3;
    min-height: 100vh;
    background-image: url('https://th.bing.com/th/id/OIP.zJ-OUNPBlwi3GZY3ZlfGsgAAAA?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

header:hover {
    background-color: #1a1a1a;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

nav a {
    color: #b3b3b3;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #55cc55;
}

.dark-section {
    text-align: center;
    padding: 50px;
    margin: 20px;
    background-color: rgba(33, 33, 33, 0.9);
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    border: 2px solid #55cc55;
}

.dark-section:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

h2 {
    color: #55cc55;
    margin-bottom: 20px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.4em;
    text-align: center;
    margin-top: 30px;
    color: #b3b3b3;
}

.icon {
    font-size: 3em;
    color: #55cc55;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.footer-text {
    font-size: 1.2em;
    color: #b3b3b3;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    width: 100%;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.3);
    color: #b3b3b3;
    backdrop-filter: blur(10px);
}

.footer-text:hover {
    color: #55cc55;
}

footer:hover {
    background-color: #1a1a1a;
}

#download a, #download a:visited, #download a:hover, #download a:active {
    color: #55cc55;
    text-decoration: underline;
}
